@import url('https://fonts.googleapis.com/css?family=WindSong');

/*-- scss:defaults --*/

/* css styles */
.huge-cursive {
  font-family: WindSong;
  font-size: 72px;
  line-height: 1em;
  margin: 2rem 0;
}

.about-contents .lead p {
  font-size: 90%;
}

div.quarto-about-trestles {
  margin: auto;

  .about-entity {
    .about-image{
      border-top-left-radius: 50%;
      border-top-right-radius: 30%;
      border-bottom-left-radius: 35%;
      border-bottom-right-radius: 35%;

      outline: 2px solid grey;
      outline-offset: 5px;
    }
  }
}

/* Resume style */
.resume-sidebar {
  .rectangle {
      border-top-right-radius: 10%;
      border-top-left-radius: 40%;
      border-bottom-right-radius: 10%;
      border-bottom-left-radius: 10%;
  }
  .title {
    margin-bottom: 0;

    &>p {
      margin-bottom: 0;
    }
  }
  .subtitle {
    font-size: 110%;
  }
  .resume-contact {
    .row {
      display: grid;
      grid-template-columns: minmax(20px, auto) 1fr;
      column-gap: 10px;

      & p {
        margin-bottom: 0;
        font-size: 90%;

        & a {
          text-decoration: none;
          color: #395D72;
        }

        & i {
          color: #4682b4;
        }
      }

    }
    .row.social {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: unset;
      justify-content: center;
    }
  }
}

.resume-body {
  .level3 > h3.anchored{
    margin-top: 20px;
    margin-bottom: 15px;
    color: #4682b4;
  }
  .level4 > h4.anchored {
    margin: 10px 0;
  }

  /* CV: Experience: Research, Consulting/ Advising */
  .exp-item.style-1 {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: center;

    & > p {
      margin-bottom: 10px;
    }

    & > h4.cv-item-head {
      margin-top: 10px;
      margin-bottom: 0;
      grid-column: 1/3;
    }
    
    & > p.cv-item-body:first-of-type, & > p.cv-item-extra {
      grid-column: 1/3;
    }
    
    & > p.cv-item-extra {
      font-size: 90%;
    }
    
    hr {
      grid-column: 1/3;
    }
  }

  /* CV: Experience: Teaching / Teaching Assistant */
  .exp-item.style-2 {
    h4, h5, p {
      margin: 0;
    }
    
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;

    .cv-item-extra {
      grid-column: 1/3;
      margin-bottom: 10px;
      font-size: 90%;
    }

    h4.cv-item-head {
      margin-bottom: 15px;
    }

    .cv-subitem {
      grid-column: 1/3;
      display: grid;
      grid-template-columns: 1fr auto;
      justify-content: space-between;
      margin-top: 15px;
      
      .cv-subitem-extra {
        grid-column: 1/3;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 90%;
      }

      hr {
        grid-column: 1/3;
      }

    }

    hr {
      grid-column: 1/3;
    }
  }

  /* CV: Experience: Teaching Assistant */
  .exp-item.style-2.compact {
    .cv-subitem:not(:first-of-type) {
      margin-top: 0;
    }
  }

  /* CV: Experience: IT support */
  .exp-item.style-3 {
    h4, h5, p {
      margin: 0;
    }

    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 1fr auto;

    .cv-item-body:first-of-type {
      font-weight: 600;
    }

  }

  /* CV: Education: Papers */
  .edu-item.style-1 {
    margin-bottom: 15px;

    p:last-child {
      text-align: right;
    }

    p {
      margin: 0;

      a {
        text-decoration: none;
        color: steelblue;
        font-family: monospace;
        font-size: 90%;
      }

      a::before {
        content: "URL: ";
      }
    }
  }

  /* CV: Education: Conference */
  .edu-item.style-2 {

    display: grid;
    grid-template-columns: 2fr fit-content(40%);
    justify-content: space-between;
    column-gap: 15px;
    align-items: start;


    & > h5.edu-item-head {
      margin-top: 10px;
      grid-column: 1/3;
    }

    .edu-item-body:last-child {
      text-align: right;
    }

  }

  .edu-item.style-2:not(:last-of-type)::after {
      content: "";
      background: radial-gradient(circle at center, grey 0, transparent 100%);
      height: 1px;
      grid-column: 1/3;
    }
  
  /* CV: Education : Academic ----- */
  .edu-item.style-3 {
      display: grid;
      grid-template-columns: auto auto 1fr;

    p {
        margin: 0;
        padding: 0;
    }

    .edu-item-head {
        grid-column: 1/4;
        margin-top: 25px;
        margin-bottom: 0;
    }

    & > p.edu-item-body {
        text-align: right;
    }

    & > p:first-of-type::after {
        content: "|";
        padding-right: 5px;
    }
  }

  /* CV: Skills: IT skills */
  #it-skills .columns .column .col {
    & div p {
      margin: 0px;

      &:first-of-type {
        margin-top: 15px;
      }

      & :first-child {
        text-transform: capitalize;
      }
    }

    & ul {
      display: grid;
      list-style: none;
      padding: 0;
      grid-row-gap: 10px;
      margin: 0;
      background: lightsteelblue;
      padding: 15px;

      & li::before {
        display: inline-block;
        content: "";
        height: 12px;
        width: 12px;
        border: 2px solid #212529;
        margin-right: 10px;
        border-radius: 50%;
      }
    }
  }

  /* CV: Skills: Scientific & Interpersonal Skills */
  & :is(section#scientific-skills, section#interpersonal-skills) .col {
    & ul {
      display: grid;
      list-style: none;
      padding: 0;
      grid-row-gap: 10px;
      margin: 0;
      padding: 15px;
      margin: 10px 0;

      & li::before {
        display: inline-block;
        content: "";
        height: 12px;
        width: 12px;
        border: 2px solid #212529;
        margin-right: 10px;
        border-radius: 50%;
      }
    }

  }
  
  & section#scientific-skills .col ul {
    background: lightblue;
  }

  & section#interpersonal-skills .col ul {
    background: #C9ECEA;
  }


  





}

/* Listing styles */
.lst-row > a {
  text-decoration: none;
  color: #395D72;

  .lst-body p {
    margin-bottom: 5px;
  }

  .lst-meta {
    color: #5c6065;
    font-size: 90%;
    display: flex;
  }
  .lst-meta > div:not(:first-child):before {
    content: "|";
    padding-left: 10px;
    padding-right: 10px;
  }
}
